/* Global Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Container Styles */
.container {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    max-width: 400px;
    margin: 40px auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

/* Logo Styling */
.logo {
    max-width: 150px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Headings */
h1 {
    color: #EB0A1E;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Form Input */
input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #EB0A1E;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
}

/* Submit Button */
.submit-btn {
    width: 100%; /* Ensure the button spans the full width of the container */
    padding: 15px;
    margin-top: 10px;
    background-color: #EB0A1E;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.submit-btn:hover {
    background-color: #c00;
}

/* Forgot Password Link */
a.forgot-password {
    color: #EB0A1E;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
}

a.forgot-password:hover {
    color: #c00;
    text-decoration: underline;
}
